/* Use your own code or past solution for Great Idea Web Page CSS here! */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

.container {
	width: 90%;
	margin: 0 auto;
  }

header nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
	margin-top: 5%;
	width: 100%;
}
.nav-container {
    width: 100%;
}
header nav .nav-wrap{	
	display: flex;
	justify-content: space-between;
	width: 80%;	
}
nav div a {
	color: grey;
	text-decoration: none;
}

.head-info {
	display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85vh;
    justify-content: space-evenly;
}
.head-info1 {
	text-align: center;
}
.head-info1 h1 {
	font-size: 500%;
	line-height: 80%;
}
.head-info1 h1:nth-child(3) {
	color: red;
	margin-bottom: 30px;
}
.head-info1 a {
	border: 1px solid black;
	padding: 2% 12%;
	text-decoration: none;
	color: black;
  }

  .head-info1 img {
	  width: 113%;
  }

  .section-wrap1 {
	  max-width: 100%;
	  display: flex;
	  flex-direction: row;
	  padding: 3% 0;
  }
  
  .middle-img {
	  width: 100%;
  }

 .section-wrap2 {
	 display: flex;
	 justify-content: space-between;
	 padding: 3% 0;
 }
 
 .section-wrap2 .third {
	width: 32%;
 }

 .address {
	 padding: 4% 0;
 }
 address p {
	 line-height: 150%;
 }
 footer {
	display: flex;
	justify-content: center;
	padding: 8% 0;
 }

/* Media Query Styling Start Here */

/* Media Query//  Max-Width: 800px */

 @media (max-width: 800px) {
	.container {
        width: 90%;
		margin: 0 auto;
	  }
	header nav {
        width: 100%;
        height: 25vh;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        justify-content: space-around;
    }
    header nav div {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    header nav .nav-wrap {
        width: 100%;
        display: flex;
        justify-content: space-between;
        
    }  
    .head-info {
        display: flex;
        justify-content: space-evenly;
        justify-content: center;
        height: 60vh;
        width: 100%;
    } 
    .head-info img {
        display: none;
    }

 }

 /* Media Query//  Max-Width: 500px */

@media (max-width: 500px){
    .container {
        width: 90%;
		margin: 0 auto;
	  }
	header nav {
        width: 100%;
        height: 80vh;
        display: flex;
        flex-direction: column-reverse;
        /* justify-content: center;
        justify-content: space-around; */
    }
    header nav div {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    header nav .nav-wrap {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }  
    .nav-wrap a {
        text-align: center;
        padding: 5% 0;
        border-bottom: 1px solid grey;
        font-size: 120%;
        font-weight: bold;
    }

    .nav-wrap a:first-child {
        border-top: 1px solid grey;
    }
    .head-info {
        display: flex;
        justify-content: space-evenly;
        justify-content: center;
        height: 60vh;
        width: 100%;
    } 
    .head-info img {
        display: none;
    }
}